JBOSS_USER={{ jboss_user }}
STARTUP_WAIT={{ jboss_startup_wait }}
SHUTDOWN_WAIT={{ jboss_shutdown_wait }}
JBOSS_CONSOLE_LOG={{ jboss_home }}/{{ jboss_mode }}/console.log
JBOSS_HOME={{ jboss_home }}
JAVA_HOME={{ java_home }}
JBOSS_PIDFILE={{ jboss_home }}/{{ jboss_mode }}/jboss.pid
JBOSS_MODE="{{ jboss_mode }}"
JBOSS_CONFIG="{{ jboss_config }} -P {{ jboss_home }}/{{ jboss_mode }}/jboss.properties"
JBOSS_OPTS="{{ jboss_opts }}"
